<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="project">

  <!-- Site Title -->
  <title>Amy Seunghyun Lee - UX Designer and Researcher Portfolio</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.png">

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/agina-icons.css">
  <link rel="stylesheet" href="assets/css/meanmenu.css">
  <link rel="stylesheet" href="assets/css/swiper.min.css">
  <link rel="stylesheet" href="assets/css/venobox.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="about">
  <!-- Preloader -->
  <div class="tj-preloader">

    <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
      <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
    </svg>

    <div class="loading_marquee">
      <span class="marquee_text"></span>
    </div>

    <div class="tj-preloader_bottom">
      <div class="loading_text">
        [ <span>Loading Please wait...</span> ]
      </div>
      <div class="copyright_text">
        [ <span>©2026</span> ]
      </div>
    </div>
  </div>

  <!-- Offcanvas -->
  <div class="tj-offcanvas-overlay"></div>
  <div class="tj-offcanvas">
    <div class="offcanvas_bg"></div>
    <div class="offcanvas_wrapper">

      <div class="offcanvas_top d-flex flex-wrap align-items-center justify-content-between gap-3">
        <div class="offcanvas_logo">
          <a href="index.html" class="logo"><img src="./assets/images/logos/primary-logo.png" alt="LOGO"></a>
        </div>

        <button data-filter="*" class="offcanvas_close">
          <span class="close-text">Close</span>

          <span class="tj_sidebar_toggle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </button>
      </div>

      <div class="offcanvas_action d-none d-lg-block">
        <h5 class="greetings">Glad you’re here! <img src="./assets/images/icons/start.svg" alt=""></h5>
        <a href="about.html" class="tj_text_btn">
          Know more us
          <i class="tji-arrow-right"></i>
        </a>
      </div>

      <div class="offcanvas_gallery tj_gallery d-none d-lg-block">
        <img class="gallery_img" src="./assets/images/gallery/offcanvas-gallery-img-1.png" alt="gallery">
        <img class="gallery_img" src="./assets/images/gallery/offcanvas-gallery-img-2.png" alt="gallery">
        <img class="gallery_img" src="./assets/images/gallery/offcanvas-gallery-img-3.png" alt="gallery">
        <img class="gallery_img" src="./assets/images/gallery/offcanvas-gallery-img-4.png" alt="gallery">
      </div>

      <!-- mobile menu -->
      <div class="offcanvas_menu mobile_menu d-lg-none"></div>

      <div class="offcanvas_contact tj_contact address">
        <div class="sec_subtitle contact_title">[ <span>Location</span> ]</div>

        <div class="contact_info">Seattle, Washington, USA</div>
      </div>

      <div class="offcanvas_contact tj_contact contact">
        <div class="sec_subtitle contact_title">[ <span>Contact</span> ]</div>

        <a href="tel:+19257855578" class="contact_info">+1 925 785 5578</a>
        <a href="mailto:slee45@uw.edu" class="contact_info">slee45@uw.edu</a>
      </div>

      <ul class="offcanvas_socials tj_socials">
        <li>
          <a href="https://www.linkedin.com/in/seunghyun-amy-lee/" target="_blank"><i class="tji-linkedin"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/thataselee/" target="_blank"><i class="tji-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- start: Header Area -->
  <div class="tj_navigation_wrap_overlay"></div>
  <header class="tj-header header-1 header-inner header-absolute">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="tj-header_wrap">

            <!-- logo -->
            <div class="site_logo">
              <a class="logo" href="index.html"><img src="assets/images/logos/primary-logo.png" alt="LOGO"></a>
            </div>

            <!-- navigation -->
            <div class="site_navigation d-none d-lg-inline-flex">
              <nav id="mobile-menu">
                <ul>
                  <li class="has-dropdown">
                    <a href="selected-work.html">Selected Work</a>

                    <ul class="sub-menu">
                      <li><a href="design-&-development.html">UX Design & Front-end Development</a></li>
                      <li><a href="ux-research.html">UX Research</a></li>
                      <li><a href="play.html">Play / Exploration</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="about.html">About Me</a>

                    <ul class="sub-menu">
                      <li><a href="about.html">About Me</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="contact.html">Contact Me</a>
                  </li>
                </ul>
              </nav>
            </div>

            <!-- header right -->
            <div class="tj-header_right">
              <a href="mailto:slee45@uw.edu" class="tj_btn flip-text-wrap d-none d-md-inline-flex">
                <span class="flip-text">Get in touch</span>
              </a>

              <!-- sidebar button -->
              <button data-filter="*" class="tj_sidebar_toggle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end: Header Area -->

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <div class="inner_top_gap"></div>

        <!-- start: Service details banner -->
        <section class="service-details-banner fix">
          <div class="container-space">
            <div class="container-fluid">
              <div class="service_details_header row">
                <div class="col-lg-8">
                  <div class="service_details_header_left tj-fade">
                    <a href="play.html" class="tj_icon_btn text-underline-btn back_btn flip-text-wrap">
                      <div class="icon_btn">
                        <span>
                          <i class="tji-arrow-left"></i>
                          <i class="tji-arrow-left"></i>
                        </span>
                      </div>
                      <span class="underline-text flip-text">Back to play</span>
                    </a>
                    <h1 class="tj_blog_details_title title-anim">RuleMate App</h1>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="service_details_header_right tj-fade" data-delay="0.3">
                    <p class="desc fs-18">RuleMate is an interactive AR/VR mobile experience designed to help beginner players learn board games more quickly. Learning a new board game is often frustrating—rulebooks are long, hard to follow, and lack engagement. Many players lose motivation before even starting, limiting their willingness to explore new games. RuleMate reimagines how players learn by transforming static instructions into an interactive, visual, and guided experience. By combining mobile interaction with AR-enhanced learning, the app helps users understand rules in context, practice gameplay, and ask questions in real time.</p>
                    <div class="btn-wrap">
                      <a href="https://www.figma.com/proto/L3zEwriT2l9Bbg4045R8Ar/Prototype?page-id=0%3A1&node-id=423-3122&node-type=frame&viewport=742%2C-899%2C0.1&t=gStfcuKzy4C6Bo41-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=423%3A3122&show-proto-sidebar=1" class="tj_icon_btn flip-text-wrap">
                        <div class="icon_btn scale">
                          <span>
                            <i class="tji-arrow-right"></i>
                            <i class="tji-arrow-right"></i>
                          </span>
                        </div>
                        <span class="flip-text">Visit App</span>
                      </a>
                      <!-- <a href="project.html" class="tj_text_btn">
                        Download File
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="service_details_intro row">
                <div class="col-lg-8">
                  <div class="service_details_img tj-fade" data-delay="0.3">
                    <video controls playsinline>
                      <source src="./assets/videos/rulemate_video.mp4" type="video/mp4">
                    </video>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="service_details_intro_content project_information tj-fade" data-delay="0.5">
                    <ul>
                      <li><span class="project_label">[ UI/UX Designer and Researcher ]</span> George Zhang, Amy Lee, Monica Zhang, Ko Motonaga </li>
                      <li><span class="project_label">[ Categories ]</span> Mobile App Design, AR/VR, Research</li>
                      <li><span class="project_label">[ Year ]</span> 2024</li>
                      <li><span class="project_label">[ Status ]</span> Completed</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Service details banner -->

        <!-- start: Project details Section -->
        <section class="project-details-section container-space">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="project-details-left">
                  <div class="section_heading">
                    <span class="sec_subtitle tj-fade" data-direction="right">[ <span> Key Features </span> ]
                    </span>
                    <h2 class="sec_title tj-reveal-line">Design Solution</h2>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="project-details-right">
                  <p class="desc fs-18 tj-fade" data-delay="0.3">RuleMate removes the pressure of having to have an expert in the room and allows all players to:
                  </p>
                  <ul class="tj_icon_list tj-fade" data-delay="0.5">
                    <li>
                      <span class="icon"><i class="tji-check"></i></span>
                      <span class="text">Learn the setup and rules of the game</span>
                    </li>
                    <li>
                      <span class="icon"><i class="tji-check"></i></span>
                      <span class="text">Play a practice round with everyone</span>
                    </li>
                    <li>
                      <span class="icon"><i class="tji-check"></i></span>
                      <span class="text">Ask clarifying questions to an AI assistant GameBot</span>
                    </li>
                    <li>
                      <span class="icon"><i class="tji-check"></i></span>
                      <span class="text">Become proficient in the gameplay and rules</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="project-gallery-wrap row row-gap-30">
              <div class="col-md-12">
                <div class="project-gallery-item">
                  <img src="assets/images/projects/rulemate_cover.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Project details Section -->

        <!-- start: Final conclusion Section -->
        <section class="final-conclusion-section container-space tj-theme-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="project-details-left">
                  <div class="section_heading">
                    <span class="sec_subtitle tj-fade" data-direction="right">[ <span>Conclusion </span> ]
                    </span>
                    <h2 class="sec_title tj-reveal-line">Reflection</h2>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="project-details-right">
                  <p class="desc fs-18 tj-fade" data-delay="0.3">By translating complex, text-heavy rulebooks into intuitive and interactive experiences, the design aims to reduce confusion and improve confidence for beginner players. Emphasizing clear structure, visual guidance, and real-time support, RuleMate creates a more accessible and engaging way to learn and play.
                  </p>
                  <div class="social-share d-flex gap-2 tj-fade" data-delay="0.5">
                    Share:
                    <ul class="tj_socials">
                      <li>
                        <a href="https://facebook.com" target="_blank"><i class="tji-facebook"></i></a>
                      </li>
                      <li>
                        <a href="https://linkedin.com" target="_blank"><i class="tji-linkedin"></i></a>
                      </li>
                      <li>
                        <a href="https://instagram.com" target="_blank"><i class="tji-instagram"></i></a>
                      </li>
                      <li>
                        <a href="https://twitter.com" target="_blank"><i class="tji-x-twitter"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row flex-column flex-lg-row ">
              <div class="col-12">

                <div class="tj_item_nav_wrapper tj-fade">
                  <!-- previous post -->
                  <div class="tj_item_nav previous">
                    <a href="project-details.html" class="tj_icon_btn text-underline-btn flip-text-wrap">
                      <div class="icon_btn">
                        <span>
                          <i class="tji-arrow-left"></i>
                          <i class="tji-arrow-left"></i>
                        </span>
                      </div>
                      <span class="underline-text flip-text">Previous</span>
                    </a>
                  </div>
                  <div class="tj_item_nav_all">
                    <a href="services.html" class="flip-text-wrap sec_subtitle">
                      [ <span class="flip-text"> View all portfolio </span> ]
                    </a>
                  </div>
                  <!-- next post -->
                  <div class="tj_item_nav next">
                    <a href="project-details.html" class="tj_icon_btn text-underline-btn flip-text-wrap">
                      <span class="underline-text flip-text">Next</span>
                      <div class="icon_btn">
                        <span>
                          <i class="tji-arrow-right"></i>
                          <i class="tji-arrow-right"></i>
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Final conclusion Section -->

        <!-- start: CTA Section -->
        <section class="h1-cta-section container-space fix">
          <div class="bg_image" data-bg-image="./assets/gif/h1-bg.gif"></div>

          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="h1_cta_wrapper">
                  <h2 class="cta_title fs-120 tj-reveal-line">
                    Let’s talk!
                  </h2>

                  <div class="cta_buttons d-inline-flex flex-wrap tj-fade" data-direction="right">
                    <a href="contact.html" class="tj_user_profile flip-text-wrap">
                      <div class="avatar"><img src="./assets/images/users/h1-hero-user-img.png" alt="USER"></div>
                      <div class="name flip-text">Book a demo call</div>
                    </a>

                    <a href="contact.html" class="tj_bordered_btn flip-text-wrap">
                      <span class="flip-text">Make It Happen</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: CTA Section -->
      </main>

      <!-- start: Footer Area -->
      <footer class="h1-footer-area footer-1 tj-theme-dark">
        <div class="h1_footer_widgets container-space">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="h1_footer_widgets_wrap">
                  <div class="tj_footer_widget footer_info tj-fade" data-delay=".5">
                    <div class="footer_logo">
                      <a href="index.html" class="logo"><img src="./assets/images/logos/secondary-logo.png"
                          alt="Logo"></a>
                    </div>
                    <div class="subscription_wrap">
                      <div class="footer_desc">
                        Subscribe to our newsletter and get the latest design inspiration.
                      </div>

                      <div class="footer_subscription">
                        <form action="index.html">
                          <input type="email" name="email" id="email" placeholder="Email*">

                          <button type="submit" class="icon_btn">
                            <span>
                              <i class="tji-arrow-right"></i>
                              <i class="tji-arrow-right"></i>
                            </span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <hr class="tj-fade" data-delay=".5">
                  <div class="tj_footer_widget widget-nav-menu tj-fade" data-delay=".6">
                    <h3 class="widget_title">[ <span>Company</span> ]</h3>

                    <ul>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text">Home</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text">Pages</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text">Services</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text">Blog</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text">Contact</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text">FAQ</span></a></li>
                    </ul>
                  </div>
                  <hr class="tj-fade" data-delay=".6">
                  <div class="tj_footer_widget widget-nav-menu tj-fade" data-delay=".7">
                    <h3 class="widget_title">[ <span>Services</span> ]</h3>

                    <ul>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text"> Brand identity</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text"> Development</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text"> UI/UX design</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text"> Creative</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text"> Marketing</span></a></li>
                      <li><a class="flip-text-wrap" href="#"><span class="flip-text"> Direction</span></a></li>
                    </ul>
                  </div>
                  <hr class="tj-fade" data-delay=".7">
                  <div class="tj_footer_widget footer_contact tj-fade" data-delay=".8">

                    <div class="tj_footer_contact">
                      <a href="tel:+12345678901" class="contact_link tj-random-char-blink">+1 234 567 8901</a>
                      <a href="mailto:hello.77@agina.com"
                        class="contact_link tj-random-char-blink">hello.77@agina.com</a>
                    </div>

                    <ul class="tj_socials">
                      <li>
                        <a href="https://facebook.com" target="_blank"><i class="tji-facebook"></i></a>
                      </li>
                      <li>
                        <a href="https://linkedin.com" target="_blank"><i class="tji-linkedin"></i></a>
                      </li>
                      <li>
                        <a href="https://instagram.com" target="_blank"><i class="tji-instagram"></i></a>
                      </li>
                      <li>
                        <a href="https://twitter.com" target="_blank"><i class="tji-x-twitter"></i></a>
                      </li>
                    </ul>

                    <div class="tj_contact">
                      <div class="sec_subtitle contact_title">[ <span>Location</span> ]</div>

                      <div class="contact_info">
                        123 Creative lee Street, Suite 820, California, NY 10001, USA
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="h1_footer_bottom container-space">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="h1_footer_bottom_wrap">
                  <nav class="tj_footer_nav">
                    <ul>
                      <li><a href="policy-privacy.html">Policy & privacy</a></li>
                      <li><a href="policy-privacy.html">Term & condition</a></li>
                    </ul>
                  </nav>

                  <div class="tj_copyright">
                    &copy;<span>2026</span> <a href="index.html" target="_blank">Agina.</a> all right reserved.
                  </div>

                  <button id="back_to_top" type="button" class="tj_back_to_top">
                    Back to top
                    <span>
                      <i class="tji-arrow-up"></i>
                      <i class="tji-arrow-up"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end: Footer Area -->

    </div>
  </div>



  <!-- JS here -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/gsap.min.js"></script>
  <script src="assets/js/gsap-scroll-trigger.min.js"></script>
  <script src="assets/js/gsap-scroll-smoother.js"></script>
  <script src="assets/js/gsap-scroll-to-plugin.min.js"></script>
  <script src="assets/js/gsap-split-text.min.js"></script>
  <script src="assets/js/gsap-custom-easc.min.js"></script>
  <script src="assets/js/meanmenu.js"></script>
  <script src="assets/js/swiper.min.js"></script>
  <script src="assets/js/magiccursor.js"></script>
  <script src="assets/js/venobox.min.js"></script>
  <script src="assets/js/three.js"></script>
  <script src="assets/js/hover-effect.umd.js"></script>
  <script src="assets/js/webgl.js"></script>
  <script src="assets/js/vanilla-tilt.min.js"></script>
  <script src="assets/js/imagesloaded-pkgd.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/preloader.js"></script>
  <script src="assets/js/window-shape-animation.js"></script>
  <script src="assets/js/gsap-custom-animations.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>