<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="home">

  <!-- Site Title -->
  <title>Agina - Creative Agency & Portfolio HTML Template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.png">

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/agina-icons.css">
  <link rel="stylesheet" href="assets/css/meanmenu.css">
  <link rel="stylesheet" href="assets/css/swiper.min.css">
  <link rel="stylesheet" href="assets/css/venobox.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <!-- Preloader -->
  <div class="tj-preloader">

    <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
      <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
    </svg>

    <div class="loading_marquee">
      <span class="marquee_text"></span>
    </div>

    <div class="tj-preloader_bottom">
      <div class="loading_text">
        [ <span>Loading Please wait...</span> ]
      </div>
      <div class="copyright_text">
        [ <span>©2026</span> ]
      </div>
    </div>
  </div>

  <!-- Offcanvas -->
  <div class="tj-offcanvas-overlay"></div>
  <div class="tj-offcanvas">
    <div class="offcanvas_bg"></div>
    <div class="offcanvas_wrapper">

      <div class="offcanvas_top d-flex flex-wrap align-items-center justify-content-between gap-3">
        <div class="offcanvas_logo">
          <a href="index.html" class="logo"><img src="./assets/images/logos/primary-logo.png" alt="LOGO"></a>
        </div>

        <button class="offcanvas_close">
          <span class="close-text">Close</span>

          <span class="tj_sidebar_toggle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </button>
      </div>

      <div class="offcanvas_action d-none d-lg-block">
        <h5 class="greetings">Glad you’re here! <img src="./assets/images/icons/start.svg" alt=""></h5>
        <a href="about.html" class="tj_text_btn">
          Know more us
          <i class="tji-arrow-right"></i>
        </a>
      </div>

      <div class="offcanvas_gallery tj_gallery d-none d-lg-block">
        <img class="gallery_img" src="./assets/images/gallery/offcanvas-gallery-img-1.png" alt="gallery">
        <img class="gallery_img" src="./assets/images/gallery/offcanvas-gallery-img-2.png" alt="gallery">
        <img class="gallery_img" src="./assets/images/gallery/offcanvas-gallery-img-3.png" alt="gallery">
        <img class="gallery_img" src="./assets/images/gallery/offcanvas-gallery-img-4.png" alt="gallery">
      </div>

      <!-- mobile menu -->
      <div class="offcanvas_menu mobile_menu d-lg-none"></div>

      <div class="offcanvas_contact tj_contact address">
        <div class="sec_subtitle contact_title">[ <span>Location</span> ]</div>

        <div class="contact_info">123 Creative lee Street, Suite 820, <br>California, NY 10001, USA</div>
      </div>

      <div class="offcanvas_contact tj_contact contact">
        <div class="sec_subtitle contact_title">[ <span>Contact</span> ]</div>

        <a href="tel:+12345678901" class="contact_info">+1 234 567 8901</a>
        <a href="mailto:hello.77@agina.com" class="contact_info">hello.77@agina.com</a>
      </div>

      <ul class="offcanvas_socials tj_socials">
        <li>
          <a href="https://facebook.com" target="_blank"><i class="tji-facebook"></i></a>
        </li>
        <li>
          <a href="https://linkedin.com" target="_blank"><i class="tji-linkedin"></i></a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank"><i class="tji-instagram"></i></a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank"><i class="tji-x-twitter"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- start: Header Area -->
  <div class="tj_navigation_wrap_overlay"></div>
  <header class="tj-header header-1 header-absolute">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="tj-header_wrap">

            <!-- logo -->
            <div class="site_logo">
              <a class="logo" href="index.html"><img src="assets/images/logos/primary-logo.png" alt="LOGO"></a>
            </div>

            <!-- navigation -->
            <div class="site_navigation d-none d-lg-inline-flex">
              <nav id="mobile-menu">
                <ul>
                  <li class="has-dropdown">
                    <a href="#">Home</a>

                    <ul class="sub-menu">
                      <li><a href="index.html">Creative agency</a></li>
                      <li><a href="index-2.html">Digital agency</a></li>
                      <li><a href="index-3.html">Startup agency</a></li>
                      <li><a href="index-4.html">Personal portfolio</a></li>
                      <li><a href="index-5.html">Branding studio</a></li>
                      <li><a href="skew-showcase.html">Skew showcase</a></li>
                      <li><a href="gallery-showcase.html">Gallery showcase</a></li>
                      <li><a href="selected-work.html">Perspective showcase</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="#">Pages</a>

                    <ul class="sub-menu">
                      <li><a href="about.html">About us</a></li>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="service-details.html">Service details</a></li>
                      <li><a href="team.html">Team</a></li>
                      <li><a href="team-details.html">Team details</a></li>
                      <li><a href="careers.html">Careers</a></li>
                      <li><a href="careers-details.html">Careers details</a></li>
                      <li><a href="pricing-plan.html">Pricing plan</a></li>
                      <li><a href="error.html">Error 404</a></li>
                      <li><a href="policy-privacy.html">Policy & privacy</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="#">Portfolio</a>

                    <ul class="sub-menu">
                      <li><a href="project.html">Portfolio</a></li>
                      <li><a href="project-details.html">Portfolio details</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="#">Blog</a>

                    <ul class="sub-menu">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-details.html">Blog details</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="contact.html">Contact</a>
                  </li>
                </ul>
              </nav>
            </div>

            <!-- header right -->
            <div class="tj-header_right">
              <a href="mailto:slee45@uw.edu" class="tj_btn flip-text-wrap d-none d-md-inline-flex">
                <span class="flip-text">Get in touch</span>
              </a>

              <!-- sidebar button -->
              <button class="tj_sidebar_toggle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end: Header Area -->

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- start: Skew Showcase Section -->
        <section class="skew-showcase-section container-space fix">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="skew-project-area-wrapper">
                  <div class="skew-project-area">
                    <div class="skew-project-wrap">
                      <div class="skew-project-item">
                        <a href="project-details.html"><img src="assets/images/projects/skew-project-1.png" alt=""></a>
                        <h5 class="title"><a href="project-details.html">Brand boost</a></h5>
                      </div>
                      <div class="skew-project-item">
                        <a href="project-details.html"><img src="assets/images/projects/skew-project-2.png" alt=""></a>
                        <h5 class="title"><a href="project-details.html">Design boost</a></h5>
                      </div>
                      <div class="skew-project-item">
                        <a href="project-details.html"><img src="assets/images/projects/skew-project-3.png" alt=""></a>
                        <h5 class="title"><a href="project-details.html">Innovation boost</a></h5>
                      </div>
                      <div class="skew-project-item">
                        <a href="project-details.html"><img src="assets/images/projects/skew-project-4.png" alt=""></a>
                        <h5 class="title"><a href="project-details.html">Digital boost</a></h5>
                      </div>
                      <div class="skew-project-item">
                        <a href="project-details.html"><img src="assets/images/projects/skew-project-5.png" alt=""></a>
                        <h5 class="title"><a href="project-details.html">Digital boost</a></h5>
                      </div>
                      <div class="skew-project-item">
                        <a href="project-details.html"><img src="assets/images/projects/skew-project-6.png" alt=""></a>
                        <h5 class="title"><a href="project-details.html">Identity boost</a></h5>
                      </div>
                      <div class="skew-project-item">
                        <a href="project-details.html"><img src="assets/images/projects/skew-project-7.png" alt=""></a>
                        <h5 class="title"><a href="project-details.html">Logo boost</a></h5>
                      </div>
                      <div class="skew-project-item">
                        <a href="project-details.html"><img src="assets/images/projects/skew-project-8.png" alt=""></a>
                        <h5 class="title"><a href="project-details.html">Creative boost</a></h5>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="skew-footer">
                  <div class="tj_copyright">
                    &copy;<span>2026</span> <a href="index.html" target="_blank">Agina.</a> all right reserved.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Skew Showcase Section -->

      </main>

    </div>
  </div>

  <!-- JS here -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/gsap.min.js"></script>
  <script src="assets/js/gsap-scroll-trigger.min.js"></script>
  <script src="assets/js/gsap-scroll-smoother.js"></script>
  <script src="assets/js/gsap-scroll-to-plugin.min.js"></script>
  <script src="assets/js/gsap-split-text.min.js"></script>
  <script src="assets/js/gsap-custom-easc.min.js"></script>
  <script src="assets/js/meanmenu.js"></script>
  <script src="assets/js/swiper.min.js"></script>
  <script src="assets/js/magiccursor.js"></script>
  <script src="assets/js/venobox.min.js"></script>
  <script src="assets/js/three.js"></script>
  <script src="assets/js/hover-effect.umd.js"></script>
  <script src="assets/js/webgl.js"></script>
  <script src="assets/js/vanilla-tilt.min.js"></script>
  <script src="assets/js/imagesloaded-pkgd.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/preloader.js"></script>
  <script src="assets/js/gsap-custom-animations.js"></script>
  <script src="assets/js/window-shape-animation.js"></script>
  <script src="assets/js/main.js"></script>
  <script type="module" src="assets/js/tj-img-distortion.js"></script>
  <script type="module" src="assets/js/img-revel/index.js"></script>
</body>

</html>