$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #0c0c0c,
	),
	text: (
		body: #333333,
		body-2: #707070,
	),
	theme: (
		primary: #de1a39,
		bg: #ffffff,
		bg-2: #f3f3f3,
		bg-3: rgba(12, 12, 12, 0.6),
		bg-dark: #0c0c0c,
		bg-dark-2: #333333,
		bg-dark-3: #707070,
		bg-dark-4: rgba(12, 12, 12, 0.2509803922),
		bg-dark-5: rgba(51, 51, 51, 0.5490196078),
		bg-dark-6: #161515,
		bg-dark-7: #040404,
	),
	light: (
		1: #f5f5f5,
		2: #bdb9b3,
		3: #999691,
		4: rgba(255, 255, 255, 0.5),
		5: rgba(255, 255, 255, 0.85),
	),
	grey: (
		1: #c5c5c5,
		2: #1a1a19,
		3: rgba(12, 12, 12, 0.04),
		4: #1d1c1c,
		5: #191919,
		6: rgba(12, 12, 12, 0.04),
	),
	border: (
		1: #e8e8e8,
		2: #e0e0e0,
		3: #292826,
		4: rgba(12, 12, 12, 0.08),
		5: rgba(12, 12, 12, 0.06),
		6: rgba(255, 255, 255, 0.12),
	),
	gradient: (
		1: linear-gradient(rgba(12, 12, 12, 0) 0%, rgba(12, 12, 12, 1) 100%),
		2: linear-gradient(rgba(12, 12, 12, 0) 50%, rgba(12, 12, 12, 1) 80%),
	),
);
