@use "../utilities" as *;

/**----------------------------------------
START: Process CSS
----------------------------------------*/

.h6-process {
	background-color: var(--tj-color-theme-bg-dark);
	padding-top: 160px;
	overflow: hidden;
	position: relative;
	z-index: 0;
	@media #{$lg} {
		padding-top: 120px;
		padding-inline-start: 0;
		padding-inline-end: 0;
	}
	@media #{$md} {
		padding-top: 90px;
	}
	@media #{$sm,$xs} {
		padding-top: 70px;
	}
	&-blur-shape {
		top: 100%;
	}
	&-wrapper {
		max-width: 1320px;
		margin-inline-start: auto;
		margin-inline-end: auto;
		position: relative;
		@media #{$xxl} {
			max-width: 1190px;
		}
		@media #{$xl} {
			max-width: 1130px;
		}
	}
	&-header {
		margin-bottom: 62px;
		@media #{$md} {
			margin-bottom: 30px;
		}
		@media #{$sm,$xs} {
			margin-bottom: 20px;
		}
		.section_heading {
			max-width: 700px;
			width: 100%;
			margin-inline-start: auto;
			margin-inline-end: auto;
			@media #{$md} {
				max-width: 550px;
			}
			.sec {
				&_subtitle {
					& > span {
						color: var(--tj-color-light-1);
					}
				}
				&_title {
					color: var(--tj-color-light-1);
				}
			}
		}
	}
	&-index {
		color: var(--tj-color-light-1);
		font-family: var(--tj-ff-heading);
		font-size: 120px;
		line-height: 1;
		letter-spacing: -0.02em;
		font-weight: var(--tj-fw-bold);
		transition: all 0.3s linear;

		@media #{$xxl} {
			font-size: 90px;
		}
		@media #{$xl} {
			font-size: 80px;
		}
		@media #{$lg} {
			font-size: 68px;
		}
		@media #{$md} {
			font-size: 70px;
		}
		@media #{$sm} {
			font-size: 62px;
		}
		@media #{$xs} {
			font-size: 50px;
		}
	}
	&-title {
		color: var(--tj-color-light-1);
		margin-bottom: 0;
		@media #{$md,$sm,$xs} {
			margin-top: 10px;
		}
	}
	&-desc {
		margin-bottom: 24px;
		color: var(--tj-color-light-1);
	}
	&-mockup {
		&-wrapper {
			max-width: 384px;
			margin-inline-start: auto;
			margin-inline-end: auto;
			margin-bottom: -193px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			position: relative;
			@media #{$lg} {
				max-width: 260px;
				margin-bottom: -143px;
			}
			@media #{$md,$sm,$xs} {
				margin-left: auto;
				margin-right: auto;
				margin-top: 31px;
				height: auto;
			}
		}
		position: relative;
		z-index: 0;
		width: 100%;
		margin: 0 auto;

		&-camera {
			position: absolute;
			inset-inline-start: 0;
			top: 25px;
			width: 100%;
			display: flex;
			justify-content: center;
			z-index: 1;
			img {
				max-width: 128px;
			}
		}
		&-items {
			position: absolute;
			top: 11px;
			right: 16.6px;
			bottom: 15.97px;
			left: 19px;
			border-radius: 47px;
			overflow: hidden;
			@media #{$lg} {
				top: 7px;
				right: 10.6px;
				left: 13px;
				border-radius: 31px;
			}
			@media #{$sm,$xs} {
				top: 10px;
				right: 14.6px;
				bottom: 15.97px;
				left: 18px;
				border-radius: 40px;
			}
		}
		&-item {
			width: 100%;
			position: absolute;
			inset-inline-start: 0;
			top: 0;
			z-index: 1;
			transform: translateY(100%);
			transition: all 0.3s ease-in-out;
			&.active,
			&:has(~ .active) {
				transform: translateY(0);
			}
		}
	}
	&-single {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		background-color: var(--tj-color-theme-bg4);
		position: absolute;
		inset-inline-start: 0;
		inset-inline-end: 0;
		margin-top: 48px;
		pointer-events: none;
		z-index: 2;
		overflow: hidden;

		@media #{
			$md,$sm,$xs} {
			margin-top: 0;
			margin-bottom: 40px;
			position: relative;
			overflow: auto;
			flex-direction: column;
			gap: 14px;
			&:not(:last-child) {
				border-bottom: 1px solid var(--tj-color-border-6);
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
		&-left,
		&-right {
			overflow: hidden;

			&-inner {
				transform: translateY(calc(100% + 10px));
				transition: all 0.3s ease-in-out;
				@media #{$md,$sm,$xs} {
					transform: translateY(0);
				}
			}
		}
		&-left {
			max-width: 271px;
			text-align: end;
			margin-top: -10px;
			@media #{$md,$sm,$xs} {
				text-align: start;
				margin-top: 0;
				max-width: 100%;
			}
		}
		&-right {
			max-width: 427px;
			&-inner {
				@media #{$xl,$lg} {
					padding-inline-end: 111px;
				}
			}
			@media #{$md,$sm,$xs} {
				max-width: 100%;
			}
		}
		&:has(~ .active) {
			.h6-process-single {
				&-left,
				&-right {
					&-inner {
						transform: translateY(calc(-100% - 10px));
						@media #{$md,$sm,$xs} {
							transform: translateY(0);
						}
					}
				}
			}
		}
		&.active {
			pointer-events: all;
			.h6-process-single {
				&-left,
				&-right {
					&-inner {
						transform: translateY(0);
					}
				}
			}
		}
	}
	&-inner {
		width: 100%;
		position: absolute;
		inset-inline-start: 80px;
		top: 0;
		z-index: 0;

		@media #{$md,$sm,$xs} {
			position: relative;
			inset-inline-start: 0;
		}
	}
	&-marquee {
		position: absolute;
		inset-inline-start: 0;
		bottom: 10px;
		z-index: -2;
		opacity: 0.1;
	}
}

/* !END: Process CSS */
