@use "../utilities" as *;

/**----------------------------------------
START: Faq CSS
----------------------------------------*/
.h6-faq {
	padding-top: 150px;
	padding-bottom: 120px;

	@media #{$lg} {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@media #{$md} {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	@media #{$sm,$xs} {
		padding-top: 60px;
		padding-bottom: 70px;
	}
}

/* !END: Faq CSS */
