@use "../utilities" as *;

/**----------------------------------------
START: Projects CSS
----------------------------------------*/
.h1 {
	&-project-section {
		border-top: 1px solid var(--tj-color-border-1);
		padding-top: 115px;
		padding-bottom: 130px;

		@media #{$lg} {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		@media #{$md} {
			padding-top: 90px;
			padding-bottom: 90px;
		}
		@media #{$sm, $xs} {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}

	&_projects_wrapper {
		.section_heading {
			margin-bottom: 0;
			display: flex;
			align-items: start;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 30px;

			.sec_title {
				max-width: 1200px;
				width: 100%;
				font-size: 120px;
				line-height: 1;
				margin-top: 0;

				.space {
					display: inline-block;
					padding-left: 155px;
				}
			}
		}

		@media #{$xxl} {
			.section_heading {
				.sec_title {
					max-width: 1000px;
					font-size: 100px;

					.space {
						padding-left: 128px;
					}
				}
			}
		}
		@media #{$xl} {
			.section_heading {
				.sec_title {
					max-width: 800px;
					font-size: 80px;

					.space {
						padding-left: 100px;
					}
				}
			}
		}
		@media #{$lg} {
			.section_heading {
				.sec_title {
					max-width: 600px;
					font-size: 60px;

					.space {
						padding-left: 75px;
					}
				}
			}
		}
		@media #{$md} {
			.section_heading {
				margin-bottom: 50px;
				gap: 0;

				.sec_title {
					max-width: 550px;
					font-size: 52px;
					margin-top: 16px;
					line-height: 1.11;

					.space {
						padding-left: 0;
					}
				}
			}
		}
		@media #{$sm, $xs} {
			.section_heading {
				margin-bottom: 40px;
				gap: 0;

				.sec_title {
					max-width: 450px;
					font-size: 42px;
					margin-top: 16px;
					line-height: 1.11;

					.space {
						padding-left: 0;
					}
				}
			}
		}
		@media #{$xs} {
			.section_heading {
				.sec_title {
					max-width: 450px;
					font-size: 36px;
				}
			}
		}
	}

	&_projects_wrap {
		padding-top: 40px;
		padding-bottom: 40px;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.projects-progress {
			position: relative;
			width: 100%;
			height: 1px;
			background-color: var(--tj-color-border-1);
			margin-top: 60px;

			> span {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				transform: scaleX(0);
				transform-origin: left;
				will-change: transform;
				background-color: var(--tj-color-heading-primary);
			}
		}

		.projects_more_button {
			margin-top: 30px;
		}

		@media #{$md, $sm, $xs} {
			min-height: auto;
			padding-top: 0;
			padding-bottom: 0;

			.projects-progress {
				display: none;
			}

			.projects_more_button {
				margin-top: 50px;
			}
		}
		@media #{$sm, $xs} {
			.projects_more_button {
				margin-top: 40px;
			}
		}
	}
	&_projects_items {
		display: flex;
		flex-wrap: nowrap;
		gap: 30px;

		.tj_project_item {
			flex: 0 0 calc(50% - 15px);
			max-width: calc(50% - 15px);
			width: 100%;
			.project_year {
				margin-top: 5px;
			}
		}

		@media #{$md, $sm, $xs} {
			flex-direction: column;
			flex-wrap: wrap;

			.tj_project_item {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

.tj {
	&_project_item {
		display: inline-flex;
		flex-direction: column;
		align-items: start;

		.project_image {
			.category {
				position: absolute;
				left: 30px;
				top: 30px;
				z-index: 2;
				font-weight: var(--tj-fw-bold);
				color: var(--tj-color-light-1);
				background-color: var(--tj-color-theme-bg-dark);
				border-color: var(--tj-color-theme-bg-dark);
			}
		}

		.project_content {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: start;
			justify-content: space-between;
			margin-top: 21px;

			.project_title {
				max-width: calc(100% - 70px);
				width: 100%;
				margin: 0;
				letter-spacing: -0.015em;
				a {
					display: inline-flex;
					align-items: center;
				}
				.text {
					display: inline-flex;
					transform: translateX(-24px);
					transition: all 0.3s ease-in-out;
				}

				.icon_btn {
					width: 24px;
					height: 24px;
					font-size: 16px;
					position: relative;
					top: -1px;
					background-color: var(--tj-color-theme-primary);
					transform: scale(0);
					transform-origin: center;
				}

				a {
					&:hover {
						color: var(--tj-color-text-body-2);
						.text {
							transform: translateX(8px);
						}
						.icon_btn {
							transform: scale(1);
						}
					}
				}
			}
		}

		@media #{$md, $sm, $xs} {
			.project_content {
				margin-top: 15px;
			}
		}
		@media #{$sm, $xs} {
			.project_image {
				.category {
					left: 20px;
					top: 20px;
				}
			}
		}
	}
}

.tj--hover-item {
	.tj--hover-img {
		overflow: hidden;
		position: relative;

		canvas {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}

// project image
.project_image {
	display: inline-flex;
	width: 100%;
	position: relative;
	z-index: 1;

	img {
		width: 100%;
		height: auto;
	}
	a:not(.category) {
		display: inline-flex;
		width: 100%;
	}
}

// category
.category {
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.01em;
	font-weight: var(--tj-fw-medium);
	color: var(--tj-color-heading-primary);
	background-color: transparent;
	border: 1px solid var(--tj-color-theme-bg-dark);
	border-radius: 50px;
	padding: 5px 10px;
	transition: all 0.3s ease-in-out;
	i,
	svg {
		display: inline-flex;
		line-height: 1;
		font-size: 12px;
	}
	svg {
		max-width: 12px;
		height: auto;
	}
	&:hover {
		background-color: var(--tj-color-theme-bg-dark-2);
		border-color: var(--tj-color-theme-bg-dark-2);
		color: var(--tj-color-light-1);

		.flip-text {
			.front {
				transform: translateY(-150%);
			}
			.back {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&.fill {
		background-color: var(--tj-color-theme-bg-dark-2);
		border-color: var(--tj-color-theme-bg-dark-2);
	}
}
.category-wrap {
	display: flex;
	flex-wrap: wrap;
}

.project_year {
	display: inline-flex;
	gap: 5px;
	font-weight: var(--tj-fw-bold);
	font-size: 17px;
	line-height: 1.5;
	color: var(--tj-color-theme-primary);

	> span {
		color: var(--tj-color-heading-primary);
	}
}

.h2 {
	&-project-section {
		position: relative;
		z-index: 1;
		padding-top: 180px;
		padding-bottom: 140px;
		.blocks-shape {
			top: -1px;
			right: -1px;
			background-color: transparent;
			transform: scaleY(-1);
			color: var(--tj-color-theme-bg);
			svg {
				width: 100%;
				path {
					animation-play-state: paused;
				}
			}
			@media #{$xl} {
				max-width: 350px;
			}
			@media #{$lg} {
				max-width: 300px;
			}
			@media #{$md} {
				max-width: 210px;
			}
			@media #{$sm,$xs} {
				max-width: 160px;
			}
		}
		@media #{$xl,$lg} {
			padding-top: 140px;
			padding-bottom: 100px;
		}
		@media #{$md} {
			padding-top: 90px;
			padding-bottom: 90px;
		}
		@media #{$sm, $xs} {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}

	&_projects_header {
		padding: 0 60px;
		margin-bottom: 105px;
		.section_heading {
			.sec_subtitle {
				span {
					color: var(--tj-color-light-1);
				}
			}
		}

		@media #{$xxl} {
			padding: 0 40px;
		}
		@media #{$xl,$lg} {
			padding: 0 30px;
			margin-bottom: 80px;
		}
		@media #{$md} {
			padding: 0 20px;
			margin-bottom: 50px;
		}
		@media #{$sm,$xs} {
			padding: 0 15px;
			margin-bottom: 40px;
		}
	}
	&_projects_item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 30px;
		border-top: 1px solid var(--tj-color-border-3);
		padding: 30px 60px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		background-color: var(--tj-color-theme-bg-dark);
		&:last-child {
			border-bottom: 1px solid var(--tj-color-border-3);
		}
		&.active {
			.project_sl {
				color: var(--tj-color-theme-primary);
			}
			.project_title {
				font-size: 48px;
				opacity: 1;
				@media #{$lg,$md} {
					font-size: 40px;
				}
				@media #{$sm,$xs} {
					font-size: 34px;
				}
			}
			.project_btn_wrap,
			.project_content,
			.project_year {
				opacity: 1;
				height: auto;
			}
			.project_image {
				height: 380px;
				@media #{$xl} {
					height: 300px;
				}
				@media #{$lg} {
					height: 240px;
				}
				@media #{$md} {
					height: 380px;
				}
				@media #{$sm} {
					height: 350px;
				}
				@media #{$xs} {
					height: 260px;
				}
				&:hover {
					img {
						transform: scale(1.1);
					}
				}
			}
		}

		.project_sl {
			color: var(--tj-color-light-3);
		}
		.project_title {
			&_wrap {
				max-width: 320px;
				width: 100%;
				display: flex;
				flex-direction: column;
				@media #{$xl,$md} {
					max-width: 290px;
				}
				@media #{$lg} {
					max-width: 235px;
				}
				@media #{$sm,$xs} {
					max-width: 100%;
				}
			}

			color: var(--tj-color-light-1);
			font-size: 40px;
			opacity: 0.2;
			margin-bottom: 25px;
			.char-wrap {
				> span {
					&:nth-child(2) {
						transform-origin: 50% 80%;
					}
				}
			}

			@media #{$lg,$md} {
				font-size: 36px;
			}
			@media #{$sm,$xs} {
				font-size: 34px;
				opacity: 1;
			}
		}
		.project_year {
			font-size: 17px;
			font-weight: var(--tj-fw-medium);
			opacity: 0;
			transition: all 0.4s;
			> span {
				color: var(--tj-color-light-1);
			}
			@media #{$sm,$xs} {
				opacity: 1;
			}
		}
		.project_content {
			max-width: 350px;
			width: 100%;
			display: flex;
			flex-direction: column;
			opacity: 0.3;
			transition: opacity 0.4s ease;
			@media #{$xl} {
				max-width: 330px;
			}
			@media #{$lg} {
				max-width: 280px;
			}
			@media #{$sm,$xs} {
				max-width: 100%;
				opacity: 1;
			}
		}
		.project_desc {
			color: var(--tj-color-light-2);
			letter-spacing: 0.01em;
			margin-bottom: 25px;
		}
		.project_btn_wrap {
			opacity: 0;
			height: 0;
			transition: all 0.4s;
			@media #{$sm,$xs} {
				opacity: 1;
			}
		}
		.tj_marquee_btn {
			.text_btn {
				max-width: 148px;
			}
		}
		.project_image {
			max-width: 524px;
			height: 195px;
			transition: height 0.4s ease-in-out;
			> a {
				overflow: hidden;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
				transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			}

			@media #{$xxl} {
				max-width: 450px;
			}
			@media #{$xl} {
				max-width: 380px;
				height: 170px;
			}
			@media #{$lg} {
				max-width: 300px;
				height: 150px;
			}
			@media #{$md,$sm,$xs} {
				max-width: 100%;
			}
		}

		@media #{$xxl} {
			padding: 30px 40px;
		}
		@media #{$xl,$lg} {
			padding: 30px 30px;
			gap: 15px;
		}
		@media #{$md} {
			padding: 30px 20px;
		}
		@media #{$sm,$xs} {
			padding: 20px 15px;
		}
	}
}

.h3 {
	&-project-section {
		padding-bottom: 150px;
		.section_heading {
			padding: 40px 0 38px;
		}
		@media #{$md,$sm,$xs} {
			.section_heading {
				padding: 0;
				padding-bottom: 38px;
				&_inner {
					gap: 5px 20px;
				}
				.tj_icon_btn {
					margin-top: 10px;
				}
			}
		}
		@media #{$lg} {
			padding-bottom: 120px;
		}
		@media #{$md} {
			padding-top: 90px;
			padding-bottom: 90px;
		}
		@media #{$sm,$xs} {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
	&_projects {
		&_link {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		&_items {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			.tj_project_item {
				width: calc(50% - 15px);

				&-inner {
					position: relative;
					z-index: 0;
					overflow: hidden;
					height: 100%;
					&,
					.project_image,
					a,
					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
					// .project_image img {
					// 	transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
					// }
				}
				&:first-child {
					width: 100%;
					aspect-ratio: 1800/851;
				}
				&:not(:first-child) {
					aspect-ratio: 885/658;
				}
				@media #{$md,$sm,$xs} {
					width: 100%;
					&:first-child,
					&:not(:first-child) {
						aspect-ratio: 1800 / 1110;
					}
				}
				.project_content {
					position: absolute;
					inset-inline-start: 30px;
					bottom: 30px;
					display: inline-flex;
					flex-direction: column;
					z-index: 1;
					overflow: hidden;
					opacity: 0;
					transition: all 0.3s ease-in-out 0s;
					@media #{$sm,$xs} {
						inset-inline-start: 20px;
						bottom: 20px;
					}
				}
				.project_title {
					padding: 6px 15px 0;
					background-color: var(--tj-color-light-1);
					display: inline-block;
					max-width: inherit;
					width: auto;
					transform: translateX(-50%);
					transition: all 0.3s ease-in-out 0s;
				}
				.project_year {
					font-size: 15px;
					font-weight: var(--tj-fw-medium);
					line-height: 1;
					padding: 14px 15px 16px;
					background-color: var(--tj-color-light-1);
					display: inline-block;
					transform: translateX(-50%);
					transition: all 0.3s ease-in-out 0.1s;
				}
				&:hover {
					.project_content {
						opacity: 1;
						transform: translateY(0);
					}
					.project_title {
						transform: translateX(0);
					}
					.project_year {
						transform: translateX(0);
					}
				}
			}
		}
	}
}

.project-filter-section {
	padding-top: 90px;
	padding-bottom: 100px;
	@media #{$lg} {
		padding-bottom: 70px;
	}
	@media #{$md} {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media #{$sm,$xs} {
		padding-top: 40px;
		padding-bottom: 30px;
	}
}
.tj_project_grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	padding-top: 80px;
	.tj_project_item {
		padding: 0 15px;
		margin-bottom: 60px;
		.project_image {
			> a {
				overflow: hidden;
			}
			img {
				transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			}
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		.project_content {
			gap: 10px;
		}
		.project_title_wrap {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
		.project_title {
			@media #{$md} {
				font-size: 22px;
			}
		}
		@media #{$lg,$md} {
			margin-bottom: 40px;
		}
		@media #{$sm,$xs} {
			margin-bottom: 35px;
		}
	}
	@media #{$lg,$md} {
		padding-top: 60px;
	}
	@media #{$sm,$xs} {
		padding-top: 40px;
	}
}

.tj-w-25 {
	width: 25%;
	@media #{$sm,$xs} {
		width: 100%;
	}
}
.tj-w-34 {
	width: 34%;
	@media #{$sm,$xs} {
		width: 100%;
	}
}
.tj-w-50 {
	width: 50%;
	@media #{$sm,$xs} {
		width: 100%;
	}
}
.tj-w-66 {
	width: 66%;
	@media #{$sm,$xs} {
		width: 100%;
	}
}
.tj-w-100 {
	width: 100%;
}

/* !END: Projects CSS */
