@use "../utilities" as *;

// Counter
.tj {
	&_counter {
		.counter_number,
		.counter_number .suffix > span {
			display: inline-flex;
			align-items: end;
			font-family: var(--tj-ff-heading);
			font-weight: var(--tj-fw-sbold);
			font-size: 120px;
			line-height: 1;
			letter-spacing: -0.02em;
			color: var(--tj-color-heading-primary);

			span {
				font-family: inherit;
				font-weight: inherit;
				font-size: inherit;
				line-height: inherit;
				letter-spacing: inherit;

				&.suffix {
					font-weight: var(--tj-fw-light);
					font-size: 64px;
					line-height: 1.3;
				}
			}
		}
		.counter_label {
			font-size: 18px;
			line-height: 1.5;
			letter-spacing: 0.01em;
			margin-top: 2px;
		}

		@media #{$xxl} {
			.counter_number,
			.counter_number .suffix > span {
				font-size: 100px;

				span {
					&.suffix {
						font-size: 56px;
					}
				}
			}
		}
		@media #{$xl, $lg, $md, $sm, $xs} {
			.counter_number,
			.counter_number .suffix > span {
				font-size: 80px;

				span {
					&.suffix {
						font-size: 46px;
					}
				}
			}
		}
	}
}
