@use "../utilities" as *;

/**----------------------------------------
START:  Footer CSS
----------------------------------------*/
.h5 {
	&_footer {
		&_newsletter {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 20px;
			padding-bottom: 100px;
			.newsletter_title {
				font-size: 72px;
				color: var(--tj-color-light-1);
				text-transform: uppercase;
				max-width: 410px;
				width: 100%;
				margin-bottom: 0;
				@media #{$lg,$md} {
					font-size: 60px;
					max-width: 350px;
				}
				@media #{$sm,$xs} {
					font-size: 44px;
					max-width: 100%;
				}
			}
			.footer_subscription {
				max-width: 580px;
				width: 100%;
				form {
					position: relative;
					z-index: 1;
					input[type="email"] {
						min-height: 64px;
						font-size: 20px;
						line-height: 1.56;
						letter-spacing: 0.01em;
						color: var(--tj-color-light-1);
						border-radius: 50px;
						border-color: var(--tj-color-border-3);
						background-color: var(--tj-color-theme-bg-dark-5);
						padding: 10px 65px 10px 25px;
						&::placeholder {
							color: var(--tj-color-light-2);
							opacity: 0.7;
						}
					}
					button[type="submit"] {
						width: 44px;
						height: 44px;
						font-size: 18px;
						border-radius: 50%;
						position: absolute;
						top: 10px;
						right: 10px;
						z-index: 2;
					}
				}
				.desc {
					font-size: 18px;
					color: var(--tj-color-light-3);
					max-width: 500px;
					width: 100%;
					margin: 25px 0 0 0;
					@media #{$lg} {
						max-width: 430px;
					}
				}

				@media #{$lg} {
					max-width: 480px;
				}
				@media #{$md,$sm,$xs} {
					max-width: 100%;
				}
			}
			@media #{$md} {
				padding-bottom: 70px;
			}
			@media #{$sm,$xs} {
				padding-bottom: 50px;
			}
		}
		&_widgets {
			padding-top: 120px;
			padding-bottom: 160px;
			position: relative;
			z-index: 0;
			overflow: hidden;
			@media #{$xl} {
				padding-bottom: 130px;
			}
			@media #{$lg,$md} {
				padding-bottom: 100px;
			}
			@media #{$sm,$xs} {
				padding-top: 70px;
				padding-bottom: 80px;
			}
			.footer_logo {
				position: absolute;
				max-width: 340px;
				width: 100%;
				bottom: -22px;
				right: 60px;
				@media #{$xxl} {
					right: 40px;
				}
				@media #{$xl,$lg,$md} {
					right: 30px;
				}
				@media #{$lg,$md} {
					max-width: 300px;
					bottom: -20px;
				}
				@media #{$sm,$xs} {
					max-width: 200px;
					bottom: -15px;
					right: 15px;
				}
			}
			&_wrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				gap: 20px;
				@media #{$md} {
					row-gap: 50px;
				}
				@media #{$sm,$xs} {
					gap: 50px;
				}
				.tj_footer_widget {
					.widget_title {
						margin-bottom: 40px;
						@media #{$md} {
							margin-bottom: 30px;
						}
						@media #{$sm, $xs} {
							margin-bottom: 20px;
						}
						> span {
							color: var(--tj-color-text-body-2);
						}
					}
					&.widget-nav-menu ul li {
						&:not(:last-child) {
							margin-bottom: 4px;
						}
						> a {
							font-size: 20px;
							line-height: 1.6;
							color: var(--tj-color-light-1);
							&:hover {
								color: var(--tj-color-theme-primary);
							}
							@media #{$sm,$xs} {
								font-size: 18px;
							}
						}
					}
					.tj_contact {
						max-width: 222px;
						width: 100%;
						.contact_info {
							color: var(--tj-color-light-1);
							font-size: 20px;
							line-height: 1.6;
							margin-bottom: 4px;
							@media #{$md,$sm,$xs} {
								font-size: 18px;
							}
						}
						a.contact_info {
							&:hover {
								color: var(--tj-color-theme-primary);
							}
						}
					}
					.footer_socials_list {
						width: 275px;
						border-bottom: 1px solid var(--tj-color-border-5);
					}
					.footer_socials_item {
						border-color: var(--tj-color-border-5);

						.tj_icon_btn {
							color: var(--tj-color-light-1);
							border: 0;
							.icon_btn {
								> span i {
									color: var(--tj-color-light-1);
								}
							}
							&:hover {
								.icon_btn {
									> span i {
										color: var(--tj-color-theme-primary);
									}
								}
							}
						}
						&:hover {
							.tj_icon_btn {
								color: var(--tj-color-theme-primary);
							}
						}
					}

					@media #{$md} {
						width: calc(50% - 20px);
					}
					@media #{$sm,$xs} {
						width: 100%;
					}
				}
			}
		}
	}
}

/* !END:  Footer CSS */
