@use "../utilities" as *;

/**----------------------------------------
START: Header CSS
----------------------------------------*/

// Other headers
.header {
	&-7 {
		padding-top: 0;
		padding-bottom: 0;
		.site_logo {
			padding: 33px 0;
		}
		.tj-header {
			&_right {
				align-items: center;
				gap: 30px;
				.tj_btn {
					background-color: var(--tj-color-theme-primary);
					border-radius: 50px;
					overflow: hidden;
					&::before {
						background-color: var(--tj-color-theme-bg-dark);
					}
					.flip-text .front {
						color: var(--tj-color-light-1);
					}
				}
			}
		}
		.site_navigation {
			nav {
				background-color: transparent;
				padding: 0;
				ul {
					&:not(.sub-menu) {
						> li {
							> a {
								padding-top: 42px;
								padding-bottom: 42px;
							}
							&.menu-item-has-children,
							&.has-dropdown {
								> a {
									&::after {
										top: 54px;
									}
								}
							}
						}
					}
				}
			}
		}
		.tj_sidebar_toggle {
			border-radius: 50%;
			padding: 12px;
		}
	}
}

/* !END: Header CSS */
