@use "../utilities" as *;

/**----------------------------------------
START: Header CSS
----------------------------------------*/
.tj {
	&-header {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 97;
		background-color: var(--tj-color-theme-bg);
		padding: 30px 45px;

		@media #{$xxl} {
			padding: 30px 25px;
		}
		@media #{$xl} {
			padding: 30px 15px;
		}
		@media #{$lg, $md,} {
			padding: 20px 15px;
		}
		@media #{$sm, $xs} {
			padding: 20px 5px;
		}
		@media #{$xs} {
			padding: 20px 0;
		}

		&.header-absolute {
			background-color: transparent;
			position: absolute;
			z-index: 98;
		}
		&.header-duplicate {
			background-color: var(--tj-color-theme-bg);
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
			position: fixed;
			width: 100%;
			top: -120px;
			left: 0;
			z-index: 99;
			transition: all 0.4s ease-in-out;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&.sticky {
			top: 0;
		}

		&_wrap {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 30px;
			row-gap: 20px;
			justify-content: space-between;
		}

		&_right {
			display: inline-flex;
			gap: 10px;
		}
	}
}

// site logo
.site_logo {
	display: inline-flex;
	line-height: 1;

	.logo {
		display: inline-flex;
		max-width: 175px;
		width: 100%;
	}

	@media #{$lg, $md, $sm, $xs} {
		.logo {
			max-width: 150px;
		}
	}
}

// sidebar toggle
.tj_sidebar_toggle {
	display: grid;
	align-items: center;
	justify-content: center;
	background-color: var(--tj-color-theme-bg-2);
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4px;
	padding: 12px;

	> span {
		display: inline-flex;
		width: 5px;
		height: 5px;
		background-color: var(--tj-color-theme-bg-dark);
		border-radius: 50%;
		will-change: transform;
		transition-timing-function: linear;

		&:nth-child(2) {
			transition-delay: 0.03s;
		}
		&:nth-child(3) {
			transition-delay: 0.05s;
		}
		&:nth-child(4) {
			transition-delay: 0.07s;
		}
		&:nth-child(5) {
			transition-delay: 0.09s;
		}
		&:nth-child(6) {
			transition-delay: 0.11s;
		}
		&:nth-child(7) {
			transition-delay: 0.13s;
		}
		&:nth-child(8) {
			transition-delay: 0.15s;
		}
		&:last-child {
			transition-delay: 0.17s;
		}
	}

	&.on {
		> span {
			&:nth-child(even) {
				opacity: 0;
			}
		}
	}

	&:hover:not(.on) {
		> span {
			animation: flicker 0.7s linear;

			&:nth-child(1) {
				animation-delay: 0s;
			}
			&:nth-child(2) {
				animation-delay: 0.12s;
			}
			&:nth-child(3) {
				animation-delay: 0.28s;
			}
			&:nth-child(4) {
				animation-delay: 0.19s;
			}
			&:nth-child(5) {
				animation-delay: 0.33s;
			}
			&:nth-child(6) {
				animation-delay: 0.07s;
			}
			&:nth-child(7) {
				animation-delay: 0.25s;
			}
			&:nth-child(8) {
				animation-delay: 0.41s;
			}
			&:nth-child(9) {
				animation-delay: 0.15s;
			}
		}
	}
	&_2 {
		background-color: var(--tj-color-theme-bg-dark-2);
		> span {
			background-color: var(--tj-color-light-1);
		}
	}
	&_3 {
		padding: 0;
		background: transparent;
		display: flex;
		gap: 15px;
		align-items: center;
		cursor: pointer;
		label {
			color: var(--tj-color-light-1);
			font-weight: var(--tj-fw-medium);
			line-height: 1.625;
			opacity: 0;
			transform: translateX(15px);
			transition: all 0.4s ease-in-out 0s;
		}
		& > span {
			&:last-child,
			&:nth-child(2) {
				animation-delay: 0;
			}
		}
		.lines {
			width: auto;
			height: auto;
			background-color: transparent;
			border-radius: 0;
			flex-direction: column;
			gap: 7px;

			span {
				width: 54px;
				height: 2px;
				background-color: var(--tj-color-light-1);
				transition: all 0.4s ease-in-out 0s;
			}
		}

		&:hover {
			&:not(.on) > span {
				animation: none;
			}
			.lines {
				span {
					&:first-child {
						transform: translateX(2px);
					}
					&:last-child {
						transform: translateX(-2px);
					}
				}
			}
			label {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
	@media #{$sm, $xs} {
		padding: 10px;
	}
}

// Other headers
.header {
	&-2 {
		.tj-header_wrap {
			padding: 0 30px;
			@media #{$xl,$lg} {
				padding: 0 20px;
			}
			@media #{$md} {
				padding: 0 10px;
			}
			@media #{$sm} {
				padding: 0 5px;
			}
			@media #{$xs} {
				padding: 0;
			}
		}
		.site_logo {
			.logo {
				max-width: 46px;
				@media #{$xs} {
					max-width: 42px;
				}
			}
		}

		&.header-duplicate {
			background-color: var(--tj-color-theme-bg-dark);
			box-shadow: 0 0 1px 0 rgba(12, 12, 12, 0.08);
			.tj-header_wrap {
				padding: 0;
			}
		}
		@media #{$sm,$xs} {
			border-bottom: 1px solid var(--tj-color-border-3);
		}
	}
	&-3 {
		&.header-absolute {
			border-bottom: 1px solid var(--tj-color-border-4);
			z-index: 1;
			@media #{$md,$sm,$xs} {
				padding: 30px 0;
			}
		}
		&.header-duplicate {
			.tj_icon_list {
				li {
					.text {
						color: var(--tj-color-heading-primary);
					}
				}
			}
			.tj_sidebar_toggle_3 {
				label {
					color: var(--tj-color-heading-primary);
				}
				.lines {
					span {
						background-color: var(--tj-color-theme-bg-dark);
					}
				}
			}
		}
		.site_logo {
			.logo {
				max-width: 156px;
				@media #{$sm,$xs} {
					max-width: 120px;
				}
			}
		}
		.tj_icon_list li .text {
			color: var(--tj-color-light-1);
		}
		.tj-header_right {
			width: 555px;
			justify-content: space-between;
			align-items: center;
			@media #{$xxl} {
				width: 485px;
			}
			@media #{$xl} {
				width: 410px;
			}
			@media #{$lg} {
				width: 386px;
			}
			@media #{$md,$sm,$xs} {
				width: auto;
			}
		}
	}

	&-dark {
		.site_navigation nav {
			background-color: transparent;
			ul {
				&:not(.sub-menu) {
					> li {
						> a {
							color: var(--tj-color-light-1);
						}

						&.current-menu-item,
						&.current-menu-ancestor,
						&.current-menu-parent {
							> a {
								color: var(--tj-color-theme-primary);
							}
						}

						&:hover {
							> a {
								color: var(--tj-color-theme-primary);
							}
						}

						.sub-menu {
							background: var(--tj-color-theme-bg-dark-2);

							> li {
								> a {
									color: var(--tj-color-light-1);
								}

								&:hover {
									> a {
										background-color: rgba(112, 112, 112, 0.5);
										color: var(--tj-color-light-1);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	// &-inner {
	// 	&.header-absolute {
	// 		transition: border 0.4s ease-in-out;
	// 		border-bottom: 1px solid var(--tj-color-border-1);
	// 	}
	// }
}

body {
	&:has(.tj_navigation_wrap_overlay.active) {
		.header {
			&-inner {
				&.header-absolute {
					border-color: var(--tj-color-border-5);
				}
			}
		}
	}
}
@keyframes flicker {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

/* !END: Header CSS */
