@use "../utilities" as *;
/**----------------------------------------
START: Tj Filter CSS
----------------------------------------*/
.tj_filter {
	&_btn {
		&_group {
			padding: 10px;
			border-style: solid;
			border-color: var(--tj-color-border-1);
			border-width: 1px;
			border-radius: 1000px;
			justify-content: center;
			@media #{$xs} {
				gap: 3px;
			}
			.tj_filter {
				&_btn {
					padding: 12px 20px;
					font-weight: var(--tj-fw-sbold);
					border: 0;
					background-color: var(--tj-color-theme-bg-2);
					color: var(--tj-color-heading-primary);
					@media #{$xs} {
						padding: 10px 18px;
					}
					&:hover,
					&.active {
						background-color: var(--tj-color-theme-bg-dark);
						color: var(--tj-color-light-1);
					}
				}
			}
		}
	}
}
/* !END: Tj Filter CSS */
